/1.Basics/bin
/1.Basics/obj
/2.Intermediate/bin
/2.Intermediate/obj
/2.1Intermediate_ReadFiles/bin
/2.1Intermediate_ReadFiles/obj
/2.2Intermedate_AutoMapper/bin
/2.2Intermedate_AutoMapper/obj
/3.DotnetAPI/bin
/3.DotnetAPI/obj
/3.2DotnetAPI/bin
/3.2DotnetAPI/obj
